RewriteEngine On

#
# cancel access to directory containing code
# RewriteRule ^src(/.|)$ - [NC,F]
RewriteRule ^vendor(/.|)$ - [NC,F]
RewriteRule ^conf(/.*|)$ - [NC,F]

#
# slim rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]